<div class="container">
	<h1> Candidate Pulse </h1>

	<div class="jumbotron">
		<%= pie_chart Candidate.group(:party).count %>
	</div>

	<div class="row">
	 	<div class="col-md-6">
			<center>
				<h3> Republican </h3>
				<% @republicans.each do |candidate| %>
					<h4>
						<%= link_to candidate.name, candidate_path(candidate) %>
						<%= candidate.author.name %>
					</h4>

				<% end %>
			</center>
		</div>
	  <div class="col-md-6">
	  	<center>
				<h3> Democrats </h3>
				<% @democrats.each do |candidate| %>
				<h4>
					<%= link_to candidate.name, candidate_path(candidate) %>
					<%= candidate.author.name %>
				</h4>
				<% end %>
			</center>
	  </div>
</div>

</div>

<div class="row">
	 <div class="col-md-6">
	 	<h3>Top Five Most Positive Candidates</h3>
		<ol>
		<% @mostpostitive.each do |candidate| %>

			<li><h4> <%= candidate.name %> </h4>
				 <%= candidate.positivity %>
			</li>

		<% end %>
		</ol>
	</div>
	<div class="col-md-6">
		<h3>Top Five Most Negative Candidates</h3>
			<ol>
			<% @leastpositive.each do |candidate| %>

				<li><h4> <%= candidate.name %> </h4>
					 <%= candidate.positivity %>
				</li>

			<% end %>
			</ol>
	</div>
</div>

<div class="row">
	 <div class="col-md-6">
	 	<h3>Top Five Favorited Candidates</h3>
		<ol>
		<% @mostpopular.each do |candidate| %>

			<li><h4> <%= candidate.name %> </h4>
				 <%= candidate.popularity %>
			</li>

		<% end %>
		</ol>
	</div>
	<div class="col-md-6">
		<h3>Top Five Least Favorited Candidates</h3>
			<ol>
			<% @leastpopular.each do |candidate| %>

				<li><h4> <%= candidate.name %> </h4>
					 <%= candidate.popularity%>
				</li>

			<% end %>
			</ol>
	</div>
</div>

<div class="row">

	 	<h3>Candidates most discussing the issues Jordan and Isis</h3>
		<ol>
		<% @issuerank.each do |candidate| %>

			<li><h4> <%= candidate.name %> </h4>
				Wrote <%= pluralize(candidate.ISISrank, 'tweet')%>
			</li>

		<% end %>
		</ol>


</div>
